body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  /* max-width: 600px; */
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  /* font-size: 1em; */
  color: #333;
  line-height: 1.5em;
  width: 800px;
  /* background-color: #999; */
}

#app {
  /* background-color: #fff; */
  padding: 2em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.product {
  border: 1px solid black;
  /* float: left; */
  width: 400px;
  padding: 10px;
}
.best img, .current img {
  float: left;
  margin-right: 20px;
 border: 1px solid black;
}

.another, .thisone {
  border: 1px solid black;
  float: left;
  /* height: 100px; */
  width: 190px;
  padding: 10px;
  cursor: pointer;
}

.another {
  background-color: coral;
}
.thisone {
  background-color: aquamarine;
  clear: right;
}

/* .contenders { */
/*   border: 1px solid black; */
/* } */
.contenders .price, .contenders .buy-link {
  font-size: 1em;
  display: inline;
  margin-right: 1em;
}
.contenders .title {
  font-size: 1em;
  margin: 0;
  overflow: hidden;
  height: 3em;
}
.contenders .product {
  width: 700px;
  /* border: 1px solid red; */
  border: 0;
  padding: 0;
  border-top: 1px solid black;
  margin-top: 0.25em;
  padding-top: 0.5em;
  clear: both;
}

.contenders .product img {
  width: 50px;
  height: 50px;
  margin: 0;
  /* border: 1px solid green; */
  float: left;
  margin-right: 1em;
}

hr {
  clear: both;
}

