
body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  /* max-width: 600px; */
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.best, .current {
  border: 1px solid black;
  float: left;
  width: 400px;
  padding: 10px;
}
.best img, .current img {
  float: left;
  margin-right: 20px;
 border: 1px solid black;
}

.another, .thisone {
  border: 1px solid black;
  float: left;
  height: 100px;
  width: 100px;
  padding: 10px;
}
.another {
  background-color: coral;
}
.thisone {
  background-color: aquamarine
}
