/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
  font-family: 'Lato','Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  color: #333;
  background: #f5f5f5;
  line-height: 1.5em;
  width: 800px;
}

#app {
  /* background-color: #fff; */
  padding: 2em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 3em;
  font-weight: 300;
}

h2 {
  font-size: 1em;
  background: #ec0000;
  padding: 10px 25px;
  color: white;
  border-radius: 500px;
}

h3 {
  font-size: 1.25em;
  margin: 0px 0px 20px 0px;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.selected-count {
  padding: 20px;
  font-size: 1.3em;
}

.count {
  background: #1774dd;
  color: white;
  border-radius: 100%;
  padding:10px;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

.instruction {
  font-size: .75em;
  color: darkgray;
  margin-left: 45px;
}


.current {
  padding: 60px;
  display: block;
  background: white;
}

.current .product {
  padding: 20px 0px 0px 0px;
}

.product {
  padding-top: 20px;
  background: white;
  padding: 60px;
}
/* .best img, .current img { */
.product img {
  float: left;
  margin-right: 20px;
}

.product .desc {
  overflow: hidden;
}

.product h3 {
  font-size: 2em;
  line-height: 1.3em;
  height: 5em;
  transition: all .2s;
  overflow: hidden;
  display: block;
}

.product h3:hover {
  min-height: 5em;
  height: auto;
}

.product .price {
  font-size: 1.5em;
  display: inline-block;
  padding-bottom: 20px;
}

.product .buy-link {
  clear: both;
  font-size: .9em;
  border-radius: 500px;
  background: #39b54a;
  padding: 5px 20px;
  margin-left: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: all .2s;
  display: inline-block;
  position: relative;
  top: -2px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-user-select: none;
}

.product .buy-link:hover {
  background: #258432;
  text-decoration: none
}

.product .buy-link:active {
  transform: scale(.95, .95);
}


.actions {
  clear: both;
  display: block;
  padding-top: 20px;
}

a.another, a.thisone {
  width: 49%;
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  transition: all .2s;
  border-radius: 500px;
  font-size: 1.75em;
  line-height: 1.75em;
  font-weight: 500;
  -webkit-user-select: none;
}

.thisone:active, .another:active {
  transform: scale(.95, .95);
  font-weight: 500;
}

.another:hover, .thisone:hover, .onward:hover {
  text-decoration: none;
  font-weight: 500;
}

@-webkit-keyframes pulse {
  0% { background-color: #1774dd;}
  50% {background-color: #2785ef;}
  100% {background-color: #1774dd; }
}

.onward {
  font-size: 1.4em;
  border-radius: 500px;
  padding: 15px;
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  transition: all .2s;
}

.onward:hover {
  font-size: 1.6em;
}

.another {
  background-color: #cfcfcf;
  color: #e61616;
  margin-right: 1%;
}

.another:hover {
  background: #b1b1b1;
}

.thisone {
  background-color: #1774dd;
  color: white;
  margin-left: 1%;
}

.thisone:hover {
  background: #115cb1;
}

/* .contenders { */
/*   border: 1px solid black; */
/* } */
.contenders .price {
  font-size: 1em;
  display: inline;
  margin-right: 1em;
}

.contenders .buy-link {
  font-size: .85em;
  padding: 2px 10px;
  position: absolute;
  top: 27px;
  right: 15px;
}

.contenders h3.title {
  font-size: 1em;
  margin: 0;
  overflow: hidden;
  max-height: 2.75em;
  padding-right: 140px;
}
.contenders .product {
  border: 0;
  padding: 0;
  background: white;
  padding: 15px;
  display: block;
  clear: both;
  margin-top: 10px;
  position: relative;
}

.contenders .product img {
  width: 50px;
  height: 50px;
  margin: 0;
  float: left;
  margin-right: 1em;
}

hr {
  clear: both;
}


.compare {
  width: 49%;
  float: left;
  background: white;
  padding: 60px;
  box-sizing: border-box;
}

.compare:first-child {
  margin-right: 2%;
}

.compare .product {
  text-align: center;
  padding: 0px;
  margin-top: 20px;
}

.compare img {
  float: none;
  margin: 0px 0px 15px 0px;
  width: auto;
  height: 240px;
}

.compare .desc {
  display: block;
  float: none;
}

.compare .another, 
.compare .thisone {
  width: 100%;
  margin: 0px;
  background-color: #1774dd;
  color: white;
}

.compare .another:hover, 
.compare .thisone:hover {
  background: #115cb1;
}


.compare h3 {
  font-size: 1.5em;
}
